

@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');


.App {
  width: 100%;
  height: 800px;
  background-image: url("https://i.pinimg.com/564x/e1/f8/55/e1f8554dd0f4e79613cceb8cd006161d.jpg");
  background-repeat: no-repeat;
  background-size: 100% 800px;
}

.box{
  background-color: aliceblue;
  text-align: center;
  border-style:groove;
  border-color: black;
  border-radius: 6%;
  height: 150px;
  width: 250px;
  font-size: 50px;
  position: relative;
  display: inline-block;
  left: 10px;
  top: 400px;
  margin-left: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.butt{

  position: absolute;
  top:70px;

}

.wrongButt{
  height: 40px;
  width: 40px;
  position: absolute;
  top: 30px;
  left:-80px;
  background-color: aliceblue;
  cursor: pointer;
  padding-left: 20px;
}

.rightButt{
  height: 40px;
  width: 40px;
  position: absolute;
  top: 30px;
  left:-15px;
  background-color: aliceblue;
  cursor: pointer;
  padding-left: 20px;
}

.colorname{

  text-align: center;
  margin: 0;

}

.time{
  position: absolute;
  top:200px;
  left: 43%;
  font-size: 100px;
  margin: 0;
  color: white;

}

.start{
  

  position: absolute;
  top:50px;
  left: 44%;


}


/* CSS */
.button-65 {

  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-65:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-65:hover:after {
  opacity: .5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}

.welcome{
  background-color: #0a3266;
  height: 900px;
  width: 100%;
}




/* CSS */
.button-18 {
  position: absolute;
  top: 300px;
  left: 45%;
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.leader{
  height: 800px;
  width: 100%;
  background-color: #0b1c2e;
}

.score{
  position: absolute;
  top: 20%;
  left: 22%;
  width: 800px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 400px;
  overflow-y: scroll;
}

.box1{
  border-style:groove;
  border-color: black;
  border-left: #ffffff;
  border-bottom: #ffffff;
  position: relative;
  top: 50px;
  height: 30px;
  width: 800px;
  font-size: 20px;
  text-align: left;

}