

.App {
  width: 100%;
  height: 1000px;
  background-image: url("https://i.pinimg.com/564x/e1/f8/55/e1f8554dd0f4e79613cceb8cd006161d.jpg");
  background-repeat: no-repeat;
  background-size: 100% 800px;
}

.box{
  background-color: aliceblue;
  text-align: center;
  border-style:groove;
  border-color: black;
  border-radius: 6%;
  height: 150px;
  width: 250px;
  font-size: 50px;
  position: relative;
  display: inline-block;
  left: 10px;
  top: 400px;
  margin-left: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.butt{

  position: absolute;
  top:70px;

}

.wrongButt{
  height: 40px;
  width: 40px;
  position: absolute;
  top: 30px;
  left:-80px;
  background-color: aliceblue;
  cursor: pointer;
  padding-left: 20px;
}

.rightButt{
  height: 40px;
  width: 40px;
  position: absolute;
  top: 30px;
  left:-15px;
  background-color: aliceblue;
  cursor: pointer;
  padding-left: 20px;
}

.colorname{

  text-align: center;
  margin: 0;

}

.time{
  position: absolute;
  top:200px;
  left: 43%;
  font-size: 100px;
  margin: 0;
  color: white;

}

.start{
  

  position: absolute;
  top:50px;
  left: 44%;


}


/* CSS */
.button-65 {

  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-65:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-65:hover:after {
  opacity: .5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}